/* General Styling */
:root {
    --black-pearl: #070e27;
    --big-stone: #162044;
    --plan-background: #081131;
    --buttons-blue: #0059f7;
    --buttons-light-blue: #689eff;
    --grey: #ccd2e9;
    --white: #ffffff;
    --borders: hsla(0, 0%, 100%, 0.1);
    --icon-color: #7e8bb6;
}

body {
    background-color: var(--black-pearl);
    font-family: 'Sora', sans-serif;
}

.btn {
    all: unset;
    cursor: pointer;
    color: var(--white);
}

.section-title {
    font-size: 3.5rem;
}

.title {
    color: var(--white);
}

.section-subtitle {
    font-size: 1.25rem;
}

.subtitle {
    color: var(--grey);
    font-weight: normal;
}

span.subtitle,
.plan-type {
    font-size: 1.25rem;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 0.25rem;
}

/* Header */

header {
    border-bottom: 1px solid var(--borders);
}

header .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 3%;
}

header .header-btns {
    display: none;
}

header .btn.burger-button {
    background-color: var(--big-stone);
    color: var(--white);
    padding: 1.25rem 1.5rem;
    border-radius: 10px;
}

/* Hero */

#hero .wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 4rem 3% 0rem 3%;
}

#hero .hero-info {
    text-align: center;
}

#hero .section-title {
    line-height: 1.2;
    margin-bottom: 1rem;
}

#hero .section-subtitle {
    margin-bottom: 2.5rem;
}

#hero .hero-btn {
    padding: 1rem 1.5rem;
    background-color: var(--buttons-blue);
    color: var(--white);
    border-radius: 10px;
    font-size: 1rem;
}

#hero .hero-img {
    width: 100%;
}

#hero .hero-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-row-gap: 60px;
    width: 100%;
    text-align: center;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--borders);
}

/* Features section */

#features .wrapper {
    padding: 3rem 3%;
}

#features .section-subtitle {
    margin-bottom: 3.5rem;
}

#features .features-links {
    display: grid;
    gap: 28px;
}

#features .feature-link {
    text-decoration: none;
    padding: 2.25rem 2rem;
    border: 1px solid var(--borders);
    border-radius: 18px;
}

#features .icon {
    font-size: 2.5rem;
    color: var(--icon-color);
    margin-bottom: 2rem;
}

#features .feature-title {
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}

#features .feature-paragraph {
    color: var(--grey);
}

/* Ready To Start Section */

.ready-to-start {
    padding: 4rem 3%;
}

.ready-to-start .wrapper {
    text-align: center;
    padding: 3rem 3rem;
    background-color: var(--buttons-blue);
    border-radius: 24px;
}

.ready-to-start .subtitle {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    opacity: 0.6;
}

.ready-to-start .title {
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: 2rem;
}

.ready-to-start .btn {
    padding: 1.25rem 1.5rem;
    background-color: var(--buttons-light-blue);
    border-radius: 10px;
}

/* How does it work section */

#how-does-it-work {
    padding: 4rem 3%;
}

#how-does-it-work .wrapper {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

#how-does-it-work .how-does-it-work-titles {
    text-align: center;
    width: 100%;
}

#how-does-it-work span.subtitle {
    font-size: 1.25rem;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 0.25rem;
}

#how-does-it-work .section-title {
    line-height: 1.25;
}

#how-does-it-work .how-does-it-work-container img {
    margin-bottom: 4rem;
}

#how-does-it-work .how-does-it-work-title {
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: 1.25rem;
}

#how-does-it-work .how-does-it-work-paragraph {
    font-size: 1.25rem;
    color: var(--grey);
    opacity: 0.6;
}

/* Pricing section */

#pricing {
    padding: 4rem 3%;
}

#pricing .titles {
    text-align: center;
    margin-bottom: 5.5rem;
}

#pricing .plans {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

#pricing .plan {
    padding: 1.75rem 2rem;
    background-color: var(--plan-background);
    border-radius: 20px;
    width: 100%;
}

#pricing .plan:nth-child(2) {
    background-color: var(--big-stone);
}

#pricing .price-container {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--icon-color);
}

#pricing .plan-type {
    color: var(--grey);
}

#pricing .price span {
    font-size: 3.5rem;
    color: var(--icon-color);
    opacity: 0.6;
}

#pricing .price {
    font-size: 3.5rem;
    color: var(--white);
}

#pricing .plan-features {
    list-style: none;
    padding: 2.75rem 0rem;
}

#pricing .plan-features li {
    font-size: 1rem;
    color: var(--grey);
    margin-bottom: 1rem;
}

#pricing .fa-circle-check {
    color: var(--icon-color);
    opacity: 0.6;
}

#pricing .btn {
    background-color: #4e5a85;
    padding: 1.25rem 2rem;
    border-radius: 8px;
}

#pricing .plan:nth-child(2) .btn {
    background-color: var(--buttons-blue);
}

/* Ready To Start second section */

.ready-to-start~.ready-to-start .wrapper {
    padding: 2.25rem 3%;
    width: 100%;
}

.ready-to-start~.ready-to-start .title {
    margin-bottom: 1.5rem;
}

/* Footer */

footer {
    background-color: var(--big-stone);
}

footer .wrapper {
    margin: 0 auto;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    text-align: center;
}

footer .social-media {
    gap: 36px;
}

footer a {
    text-decoration: none;
    color: var(--grey);
}

footer i {
    font-size: 1.15rem;
}

footer .wrapper>a {
    text-align: center;
}


@media (min-width: 480px) {
    /* Hero section */

    #hero .hero-images {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Features section */

    #features .features-links {
        grid-template-columns: repeat(2, 1fr);
    }

    /* How does it work section */

    #how-does-it-work .how-does-it-work-titles {
        margin: 0 auto;
        max-width: 536px;
    }

    /* Pricing section */

    #pricing .plans {
        justify-items: center;
    }

    #pricing .plan {
        max-width: 480px;
        padding: 3rem 3.5rem;
    }

}

@media (min-width: 768px) {
    /* Header */

    header .btn.burger-button {
        display: none;
    }

    header .header-btns {
        display: flex;
        gap: 10px;
        font-size: 0.85rem;
    }

    header .header-btns .btn {
        padding: 1rem 1.25rem;
    }

    header .light-color-btn {
        background-color: var(--big-stone);
        border-radius: 10px;
    }

    /* Hero section */

    #hero .hero-images {
        grid-template-columns: repeat(5, 1fr);
    }

    /* Features section */

    #features .wrapper,
    .ready-to-start .wrapper {
        margin: 0 auto;
        max-width: 920px;
    }

    #features .feature-link {
        max-width: 410px;
    }

    /* How does it work section */

    #how-does-it-work {
        padding: 4rem 1.75rem;
    }

    #how-does-it-work .how-does-it-work-container {
        display: flex;
        gap: 60px;
    }

    #how-does-it-work .how-does-it-work-container img {
        width: 50%;
        margin-bottom: 0rem;
    }

    #how-does-it-work .how-does-it-work-container-info {
        width: 50%;
    }

    #how-does-it-work .how-does-it-work-container:nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
    }

    /* Ready To Start second section */

    .ready-to-start~.ready-to-start .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.25rem 3.25rem;
    }

    .ready-to-start~.ready-to-start .info {
        text-align: left;
    }

    .ready-to-start~.ready-to-start .title {
        margin-bottom: 0rem;
    }

    footer .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 990px) {
    /* General styling */

    header .wrapper,
    #how-does-it-work .wrapper,
    #pricing .plans,
    .ready-to-start~.ready-to-start .wrapper {
        margin: 0 auto;
    }

    #hero .hero-info,
    #hero .hero-images,
    #how-does-it-work .wrapper,
    .ready-to-start~.ready-to-start .wrapper,
    footer .wrapper {
        max-width: 1100px;
    }

    /* Header */

    header .wrapper {
        margin: 0 auto;
        max-width: 1340px;
    }

    header .btn:first-child {
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    header .btn:first-child:hover {
        background-color: var(--big-stone);
    }

    /* Hero */

    #hero .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero .hero-info {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    #hero .section-title {
        max-width: 40%;
    }

    #hero .hero-info-and-button {
        max-width: 40%;
    }

    #hero .hero-img {
        max-width: 1300px;
    }

    /* Features section */

    #features .feature-link {
        transition: all 0.3s ease;
    }

    #features .feature-link:hover {
        background-color: var(--plan-background);
    }

    /* How does it work section */

    #how-does-it-work .wrapper {
        margin: 0 auto;
    }

    #how-does-it-work .how-does-it-work-container-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Pricing section */

    #pricing .titles {
        margin-bottom: 9.5rem;
    }

    #pricing .plans {
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1300px;
    }

    #pricing .plan:nth-child(2) {
        transform: translateY(-70px);
    }

    #pricing .plan:not(:nth-child(2)) .btn {
        transition: all 0.3s ease;
    }

    #pricing .plan:not(:nth-child(2)) .btn:hover {
        background-color: var(--buttons-blue);
    }

    /* Footer */

    footer .policies a {
        transition: all 0.3s ease;
    }

    footer .policies a:hover {
        color: var(--white);
    }
}