/* General styling */

:root {
    --red: #e50914;
    --dark-grey: #303030;
    --white: #ffffff;
    --black: #000000;
}

body {
    background-color: var(--dark-grey);
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 2px;
}

.title {
    font-size: 1.25rem;
}

.fa-angle-right {
    margin-left: 0.5rem;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* Hero section */

#hero {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.25rem;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.05085784313725494) 35%, rgba(0, 0, 0, 1) 100%);
}

#hero .background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hero .hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    text-align: center;
    color: var(--white);
    padding: 0 0.5rem;
}

#hero .hero-content h2 {
    font-size: 1rem;
    font-weight: normal;
}

#hero form input {
    padding: 0.5rem;
    border: none;
    border-radius: 2px;
    width: 90%;
    margin-bottom: 0.75rem;
}

#hero .form-btn {
    padding: 0.5rem 1rem;
}

#hero .hero-content p:last-child {
    font-size: 0.8rem;
}

/* Main page sections */

.page-section {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    margin-bottom: 0.25rem;
}

.page-section .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem 0.75rem;
}

.page-section .information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: var(--white);
}

.page-section .information p {
    font-size: 0.75rem;
}

/* FAQ */

#faq {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 2.5rem 0rem;
    margin-bottom: 0.25rem;
}

#faq .faq-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px
}

#faq .faq-wrapper-questions {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}

#faq .faq-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey);
    padding: 0.5rem 1.25rem;
}


#faq .faq-form-wrapper p {
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

#faq form input {
    padding: 0.5rem;
    border: none;
    border-radius: 2px;
    width: 90%;
    margin-bottom: 0.75rem;
}

#faq .faq-form-btn {
    padding: 0.35rem 1rem;
}

/* Footer */

footer {
    background-color: var(--black);
    color: var(--dark-grey);
    padding: 2.75rem 2.5rem;
}

footer h2 {
    font-size: 1rem;
}

footer ul {
    list-style: none;
    columns: 2;
    padding: 0;
}

footer h3,
footer a {
    font-size: 0.75rem;
}

footer a {
    text-decoration: none;
    color: var(--dark-grey);
    font-weight: bold;
}

@media (min-width: 768px) {

    /* Header */
    header {
        padding: 3rem 2rem;
    }

    header .btn {
        padding: 0.25rem 0.75rem;
    }

    /* Hero */

    #hero .hero-content {
        max-width: 700px;
    }

    #hero .hero-content h1 {
        font-size: 2.5rem;
    }

    #hero .hero-content h2 {
        font-size: 1.5rem;
    }

    #hero form,
    #faq form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero form input {
        padding: 1rem 0.5rem;
        width: 60%;
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    #hero form .form-btn {
        padding: 1rem 0rem;
        font-size: 1.5rem;
        width: 40%;
    }

    #hero .hero-content p:last-child {
        font-size: 1rem;
    }

    /* Main page sections */

    .page-section .wrapper {
        flex-direction: row;
        padding: 2rem 1.5rem;
    }

    .page-section:nth-child(odd) .wrapper {
        flex-direction: row-reverse;
    }

    .page-section .information {
        justify-content: center;
        text-align: left;
        width: 50%;
    }

    .page-section .title {
        font-size: 2rem;
    }

    .page-section .information p {
        font-size: 1rem;
    }

    .page-section .wrapper img {
        width: 50%;
    }

    /* FAQ */

    #faq .faq-section-wrapper {
        margin: 0 auto;
        max-width: 700px;
        gap: 60px;
    }

    #faq .faq-wrapper-questions .faq-btn {
        padding: 1rem 1.25rem;
    }

    #faq form input {
        width: 60%;
        padding: 1rem 0.25rem;
        margin: 0;
    }

    #faq .faq-form-btn {
        padding: 0.75rem 0rem;
        font-size: 1.5rem;
        width: 40%;
    }

    /* Footer */

    footer {
        display: flex;
        justify-content: center;
    }

    footer ul {
        columns: 4;
    }

    footer .footer-wrapper {
        width: 100%;
        max-width: 800px;
    }
}

@media (min-width: 1366px) {
    .btn {
        cursor: pointer;
    }

    /* Hero */
    #hero .hero-content {
        max-width: 800px;
    }

    #hero .hero-content h1 {
        font-size: 4rem;
    }

    #hero .hero-content h2 {
        font-size: 1.75rem;
    }

    #hero form input {
        width: 65%;
    }

    #hero form .form-btn {
        width: 35%;
    }

    /* Main page sections */

    .page-section .wrapper {
        max-width: 1000px;
    }
}