html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

blockquote {
    border-left: 4px solid rgb(221, 221, 221);
    font-style: italic;
}

table {
    width: 100%;
}

table, td {
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
}

table thead {
    background-color: #CCCCCC;
}

table thead th {
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background-color: #F1F1F1;
}


