@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

ul,
li {
    display: inline-block;
    list-style: none;
}

li:not(:first-child) {
    margin-left: 8px;
}

a {
    padding: 12px;
    border-radius: 50%;
    text-decoration: none;
    background-color: lightgray;
    color: black;
}

li:first-of-type a:hover {
    color: #4267B2;
}

li:nth-of-type(2) a:hover {
    color: #1DA1F2;
}

li:nth-of-type(3) a:hover {
    color: #db4a39;
}

li:nth-of-type(4) a:hover {
    color: #0077B5;
}

li:last-of-type a:hover {
    color: #0077B5;
}