/* General Styling */
:root {
    --dark-blue: #070e27;
    --light-dark-blue: #162044;
    --blue: #0059f7;
    --light-blue: #689eff;
    --grey-blue: #162044;
    --grey: #ccd2e9;
    --white: #ffffff;
    --borders: hsla(0, 0%, 100%, 0.1);
    --icon-color: #7e8bb6;
}

body {
    background-color: var(--dark-blue);
    font-family: 'Sora', sans-serif;
}

.btn {
    all: unset;
    color: var(--white);
}

.section-title {
    font-size: 3.5rem;
}

.title {
    color: var(--white);
}

.section-subtitle {
    font-size: 1.25rem;
}

.subtitle {
    color: var(--grey);
    font-weight: normal;
}

/* Header */

header {
    border-bottom: 1px solid var(--borders);
}

header .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0.75rem;
}

header .header-btns {
    display: none;
}

header .btn.burger-button {
    background-color: var(--light-dark-blue);
    color: var(--white);
    padding: 1.25rem 1.5rem;
    border-radius: 10px;
}

/* Hero */

#hero .hero-wrapper {
    text-align: center;
    padding: 4rem 0.75rem 0rem 0.75rem;
}

#hero .section-title {
    line-height: 1.2;
    margin-bottom: 1rem;
}

#hero .hero-info .section-subtitle {
    margin-bottom: 2.5rem;
}

#hero .hero-info .hero-btn {
    padding: 1rem 1.5rem;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 4.5rem;
}

#hero .hero-img {
    margin-bottom: 5rem;
}

#hero .hero-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-row-gap: 60px;
    text-align: center;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--borders);
}

/* Features section */

#features .features-wrapper {
    padding: 4rem 0.75rem;
}

#features .section-subtitle {
    margin-bottom: 3.5rem;
}

#features .features-links {
    display: grid;
    gap: 28px;
}

#features .feature-link {
    text-decoration: none;
    padding: 2.25rem 2rem;
    border: 1px solid var(--borders);
    border-radius: 10px;
}

#features .icon {
    font-size: 2.5rem;
    color: var(--icon-color);
    margin-bottom: 2rem;
}

#features .feature-title {
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}

#features .feature-paragraph {
    color: var(--grey);
}

/* Ready To Start Section */

#ready-to-start {
    padding: 4rem 0.75rem;
}

#ready-to-start .trial-wrapper {
    text-align: center;
    padding: 3rem 4.75rem;
    background-color: var(--blue);
    border-radius: 24px;
}

#ready-to-start .subtitle {
    text-transform: uppercase;
    font-size: 1.25rem;
    opacity: 0.6;
    margin-bottom: 0.5rem;
}

#ready-to-start .title {
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: 2rem;
}

#ready-to-start .btn {
    padding: 1.25rem 1.5rem;
    background-color: var(--light-blue);
    border-radius: 10px;
}